{{- /* MethoDesc, MockImplName */ -}}
// RegisterN{{.MethoDesc.Name}} registers a function as n {{.MethoDesc.Name}}() method calls.
func (mock {{.MockImplName}}) RegisterN{{.MethoDesc.Name}}(n int,
  fn func({{ MakeParams .MethoDesc.Params }}) ({{ MakeReturnVars .MethoDesc.ReturnVars }})) {{.MockImplName}} {
  mock.RegisterN("{{.MethoDesc.Name}}", n, fn)
  return mock
}